{{extend 'layout.html'}}
{{block html_header}}
<!-- sin cabecera -->
{{end}}
{{block html_footer}}
<!-- sin barra inferior -->
{{end}}
{{block head}}
    <style type="text/css">
      body {
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 320px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>
{{end}}
<h2 class="text-center">Buscar <small>{{=buscar if buscar else ''}}</small></h2>
<div class="form-signin">
    {{if profesores:}}
    <dl class="unstyled">
        {{for profesor in profesores:}}
            <dt><i class="icon-chevron-right"></i> <a href="{{=URL('default','profesor',args=profesor.slug)}}">{{=profesor.nombre}}</a></dt>
            <dd><span class="muted">{{=profesor.facultad.nombre}}</span></dd>
        {{pass}}
    </dl>
    {{else:}}
        {{if buscar:}}
        <p>No encontramos ninguna coincidencia con <em>{{=buscar}}</em>.</p>
        {{pass}}
    {{pass}}
    <p><i class="icon-search"></i> Intenta haciendo una búsqueda nueva o<br /><a href="{{=URL('default','index')}}"><i class="icon-home"></i>Ve al Inicio</a>.</p>
    {{if response.form_buscar:}}
          {{=response.form_buscar.custom.begin}}
              {{=response.form_buscar.custom.widget.buscar}}
          {{=response.form_buscar.custom.end}}
    {{pass}}
</div>
